@import "tailwindcss";

@layer base {
  body {
    font-family: 'SF Pro Display', 'Geist Sans', -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

